<%- include('partials/head') %>
<%- include('partials/navigation') %>

<style>
  html, body {
    background-color: black !important;
  }
</style>

<div class="container">
  <div id="sketch-matrix">
    <% Object.entries(SKETCH_DATA_OBJECTS).forEach(([filename, sketchDataObject]) => { %>
      <div
        class="matrix-image"
        style="background-image: url('<%= filename %>.png');"
        onmouseenter="handleHoverMatrixImage('<%= filename %>');"
      >
        <button onclick="handleClickLoadSketch('<%= filename %>');">Load</button>
        <button onclick="handleClickReseedSketch('<%= filename %>');">Reseed</button>
      </div>
    <% }); %>
  </div>
  <div id="sketch-preview">
    <div id="sketch-preview-image"></div>
  </div>
</div>

<%- include('partials/console') %>
<%- include('partials/footer') %>
